<!DOCTYPE html>
<html>

<head>
  <title>Othello</title>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .black {
      background-color: green;
    }

    .black .circle {
      opacity: 1;
      background-image: url('/stone_black.png');
      -webkit-background-size: 50px 50px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
    }

    .white {
      background-color: green;
    }

    .white .circle {
      opacity: 1;
      background-image: url('/stone_white.png');
      -webkit-background-size: 50px 50px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
    }

    .green {
      background-color: green;
    }

    .suggest1 {
      background-color: green;
    }

    .suggest1 .circle {
      opacity: 1;
      background-color: #090;
    }

    .suggest1:hover {
      /*background-color: #00cc00;*/
    }

    .suggest1:hover .circle {
      background-image: url('/stone_black.png');
      -webkit-background-size: 50px 50px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
    }

    .suggest2 {
      background-color: green;
    }

    .suggest2 .circle {
      opacity: 1;
      background-color: #090;
    }

    .suggest2:hover {
      /*background-color: #00cc00;*/
    }

    .suggest2:hover .circle {
      background-image: url('/stone_white.png');
      -webkit-background-size: 50px 50px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
    }

    .game:hover {
      background-color: yellow;
    }

    .circle {
      opacity: 0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }

    table,
    th,
    td {
      border: 1px solid white;
    }
  </style>
</head>

<body>
  <div id="app" class="container">
    <div v-if="show_login">
      <h2>LOGIN</h2>
      <label>Username:</label>
      <input v-model="userName" class="form-control" placeholder="Enter username" maxlength="16">
      <label>Password:</label>
      <input type="password" v-model="password" class="form-control" placeholder="Enter password" @keyup.enter="pass_login()">
      <p></p>
      <button class="btn btn-primary" @click="pass_login()">login</button> or
      <a href="#" @click="go_register()" data-toggle="tooltip">register</a>
    </div>

    <!-- <div v-if="show_login">
      <p>LOGIN</p>
      <p>userName : <input type="text" v-model="userName" autofocus></p>
      <p>password : <input type="text" v-model="password" @keyup.enter="pass_login()"></p>
      <p><button @click="pass_login()">login</button>or
      <button @click="go_register()">register</button></p>
    </div> -->

    <div v-if="show_register">
      <h2>REGISTER</h2>
      <label>Username:</label>
      <input v-model="userName" class="form-control" placeholder="Enter username" maxlength="16">
      <label>Password:</label>
      <input type="password" v-model="password" class="form-control" placeholder="Enter password">
      <p></p>
      <button class="btn btn-primary" @click="register_func()">register</button>
      <button class="btn btn-primary" @click="show_login = true, show_register = false">back</button>
    </div>

    <!-- <div v-if="show_register">
      <p>REGISTER</p>
      <p>userName : <input type="text" v-model="userName"></p>
      <p>password : <input type="text" v-model="password"></p>
      <p>
        <button @click="register_func()">register</button>
        <button @click="show_login = true, show_register = false">back</button>
      </p>
    </div> -->






    <div v-show="showTable">
      <h2>OTHELLO</h2>
      <div v-show='show_time'>
        <p>
          <h2>Wait for another player reconnect in : {{time}}<h2></p>
      </div>
      <h3>TURN : {{turn}}</h3>
      <table>
        <tr v-for="(valMain, indexMain) in 8">
          <td v-for="(valChild, indexChild) in 8" :ref="indexMain+':'+indexChild" @click="pass_click(indexMain,indexChild)" width="50px" height="50px">
            <div class="circle">

            </div>
          </td>
        </tr>
      </table>
      <div v-if="show_score">

        <p>Winner is {{winner}} </p>
        <p>black'score : {{score_black}}</p>
        <p>white's score : {{score_white}}</p>
      </div>
      <div v-if="show_back">
        <p><button @click="leave_room()" class="btn btn-primary">back to menu</button></p>
      </div>
    </div>
    <div v-if="show_wait">
      <h2>WAIT FOR OTHER PLAYER</h2>
          <p><button @click="pass_ex_wait()" class="btn btn-primary">back</button></p>
      </div>
      <div v-if="show_game">
        <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-primary" @click="ranking_func()">Ranking</a>
          <a href="#" class="btn btn-primary" @click="open_show_room()">JoinGame</a>
          <a href="#" class="btn btn-primary" @click="pass_logout()">Logout</a>
        </div>
        <div v-if="show_room">
          <h2>ROOM</h2>
          <div v-for="(room, i) in arr_room" class="list-group">
            <a class="list-group-item" @click="join_room(i)">{{room.room}}({{room.count}}/2)</a>
          </div>
          <hr>
          <input v-model="room_name" class="form-control">
          <button class="btn btn-default" @click="pass_create_room()">create room</button>
        </div>
        <div v-show="showRank">
          <h2>Ranking</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="25%">Name</th>
                <th width="25%">win</th>
                <th width="25%">lose</th>
                <th width="25%">score</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="msg in arr_msg">
                <td>{{msg.userName}}</td>
                <td>{{msg.win}}</td>
                <td>{{msg.lose}}</td>
                <td>{{msg.score}}</td>
              </tr>
            </tbody>
          </table>
          <!-- <p><button @click="showRank = false, show_game = true">back</button></p> -->
        </div>
        <!-- <p>>> hi {{userName}} <button @click="pass_logout()">logout</button></p>
      <h1>SELECT GAME</h1>
      <p class="game" @click="pass_start">Othello</p>
      <p class="game">game2</p>
      <p class="game">game3</p>
      <p><button @click="pass_ranking()">ranking</button></p> -->
      </div>
      <div v-if="show_myRoom">
        <h2>wait for another player</h2>
        <button class="btn btn-default" @click="leave_room()">leave room</button>
      </div>

    </div>
</body>

</html>

<script>
  var socket = io();
  new Vue({
    el: '#app',
    data: {

      showTable: false,
      turn: '',
      score_black: 0,
      score_white: 0,
      winner: '',
      show_score: false,
      show_login: true,
      show_register: false,
      userName: '',
      password: '',
      arr_msg: [],
      showRank: false,
      show_game: false,
      show_wait: false,
      show_back: false,
      time: 0,
      my_turn: '',
      arr_room: [],
      show_room: false,
      room_name: '',
      show_myRoom: false,
      time: 0,
      show_time: false,


    },
    mounted() {
      var _this = this;
      //room
      this.get_room();
      socket.on('get_room_socket', function(arr_room) {
        _this.arr_room = arr_room;
      });

      //new before create room
      socket.on('start_game_socket', function() {
        _this.start_game();
      });
      socket.on('create_room_socket', function(data, userName) {
        if (userName == _this.userName) {
          if (data == 'yes') {
            _this.create_room();
          } else {
            alert('this room name is already used.');
            _this.room_name = '';
          }
        }
      });
      socket.on('discon_socket', function(userName) {

        _this.discon_func(userName);
      });
      socket.on('reconnect_socket', function() {
        _this.show_time = false;
        _this.time = -1;
      });







      this.check_login();
      socket.on('table_socket', function(table_state, turn) {
        _this.render_func(table_state, turn);
      });
      socket.on('winner_socket', function(win) {
        _this.show_winner(win);
      });
      socket.on('login_socket', function(login, userName) {
        //console.log(login, userName);
        _this.login_func(login, userName);
      });
      socket.on('result_socket', function(result) {
        _this.show_ranking(result);
        //console.log(result);
      });
      socket.on('start_socket', function(userName, data) {
        console.log(data);
        _this.start_func(userName, data);
      });
      socket.on('start2_socket', function(arr_user) {
        _this.start2_func(arr_user);
      });
      socket.on('check_regis_socket', function(msg, userName) {
        _this.check_regis_func(msg, userName);
      });
      socket.on('ex_wait_socket', function(userName) {
        _this.ex_wait(userName);
      });
      socket.on('logout_socket', function(userName, time) {
        _this.logout_func(userName, time);
      });

    },









    methods: {
      //room
      leave_room() {
        socket.emit('leave_room_socket', this.room_name);
        this.get_room();
        this.show_game = true;
        this.showTable = false;
        this.show_score = false;
        this.show_back = false;
        this.show_room = true;
        this.show_myRoom = false;
        this.room_name = '';
        this.my_turn = '';
        this.show_time = false;

      },
      join_room(i) {
        if (this.arr_room[i].status == '') {
          this.room_name = this.arr_room[i].room;
          socket.emit('join_room_socket', this.room_name, this.userName);
          this.get_room();
          socket.emit('start_game_socket', this.room_name);
          this.my_turn = 'white';
        } else {
          if (this.arr_room[i].user1 == this.userName) {
            this.room_name = this.arr_room[i].room;
            socket.emit('join_room_socket', this.room_name, this.userName);
            this.get_room();
            socket.emit('start_game_socket', this.room_name);
            this.my_turn = 'black';
            console.log(this.my_turn);
            return;
          }
          if (this.arr_room[i].user2 == this.userName) {
            this.room_name = this.arr_room[i].room;
            socket.emit('join_room_socket', this.room_name, this.userName);
            this.get_room();
            socket.emit('start_game_socket', this.room_name);
            this.my_turn = 'white';
            return;
          }
          if (confirm("Room is full!! Do you want to spectator?") == true) {
            this.room_name = this.arr_room[i].room;
            socket.emit('join_room_socket', this.room_name, this.userName);
            this.get_room();
            socket.emit('spect_socket', this.room_name);
            this.show_game = false;
            this.showTable = true;
            this.show_back = true;
          } else {

          }


        }


      },
      pass_create_room() {
        socket.emit('create_room_socket', this.room_name, this.userName);
      },
      create_room() {
        this.get_room();
        this.show_game = false;
        this.show_room = false;
        this.show_myRoom = true;
        this.my_turn = 'black';
      },
      get_room() {
        socket.emit('get_room_socket');
      },
      open_show_room() {
        this.show_room = true;
        this.showRank = false;
      },
      discon_func(userName) {
        this.time = 30;
        if (userName == this.userName) {
          this.start_time();
          this.show_time = true;
        }

        //this.leave_room();
      },




      //new before create room
      start_game() {
        this.show_myRoom = false;
        this.show_game = false;
        this.showTable = true;
      },
      start_time() {
        if (this.time == 0) {
          socket.emit('win_wait', this.room_name, this.userName);
          alert('you win');
          this.leave_room();
          this.pass_ranking();
          return;
        }
        if (this.time == -1) {

          return;
        }
        this.time--;
        setTimeout(this.start_time, 1000);
      },








      //login register
      ranking_func() {
        this.show_room = false;
        this.showRank = true;
        this.pass_ranking();
      },
      pass_ranking() {
        socket.emit('result_socket', this.userName);
        //this.show_game = false;
      },
      pass_ex_wait() {

        this.show_game = false;
        socket.emit('ex_wait_socket', this.userName);
      },
      ex_wait(userName) {
        if (userName == this.userName) {
          this.show_game = true;
          //this.showRank = true;
          this.show_wait = false;
        }
      },
      check_regis_func(msg, userName) {
        if (userName == this.userName) {
          if (msg == 'have same userName') {
            alert(msg);
          }
          if (msg == 'regis success') {
            alert(msg);
            this.show_register = false;
            this.pass_login();
            this.pass_ranking();
          }
        }

      },
      pass_logout() {
        socket.emit('logout_socket', this.userName, 0);
        this.leave_room();
        this.showTable = false;
      },
      logout_func(userName, time) {
        if (this.userName == userName && time != this.time) {
          this.userName = '';
          this.password = '';
          localStorage.clear();
          this.show_game = false;
          this.show_login = true;
          this.showTable = false;
        }
      },
      check_login() {
        var status = localStorage.getItem('status');
        if (status == 1) {
          this.userName = localStorage.getItem('userName');
          this.password = localStorage.getItem('password');
          this.pass_login();
        }
      },

      start2_func(arr_user) {
        if (arr_user[0] == this.userName || arr_user[1] == this.userName) {
          this.showTable = true;
          this.show_game = false;
          this.show_wait = false;
        }
      },
      start_func(userName, data) {
        if (userName == this.userName) {
          if (data < 2) {
            this.my_turn = 'black';
            this.show_wait = true;
            //this.showRank = false;
            this.show_game = false;
          }
          if (data == 2) {
            this.my_turn = 'white';
            socket.emit('start2_socket', 'x');
          }
          if (data > 2) {
            if (confirm("room empty Do you want to spectate!") == true) {
              this.my_turn = 'spectator';
              this.showTable = true;
              this.show_game = false;
              this.show_back = true;
            } else {

            }
          }
        }
      },
      pass_start() {
        socket.emit('start_socket', this.userName);
      },
      show_ranking(result) {
        this.arr_msg = result
        //console.log(this.arr_msg);
      },
      pass_playAgain() {
        socket.emit('playAgain_socket', this.userName);
      },
      show_winner(win) {
        this.score_black = win.score_black;
        this.score_white = win.score_white;
        this.winner = win.winner;
        this.show_score = true;
        this.show_back = true;
      },








      pass_click(i, j) {
        //console.log('pass_click');
        socket.emit('click_socket', this.room_name, this.my_turn, i, j);
      },
      render_func(table_state, turn) {
        if (turn == true) {
          var server_turn = 'black'
          this.turn = 'black'
        }
        if (turn == false) {
          var server_turn = 'white'
          this.turn = 'white'
        }
        for (var i = 0; i < 8; i++) {
          for (var j = 0; j < 8; j++) {
            if (table_state[i][j] == 'suggest1' && server_turn != this.my_turn) {
              table_state[i][j] = 'green';
            }
            if (table_state[i][j] == 'suggest2' && server_turn != this.my_turn) {
              table_state[i][j] = 'green';
            }
            this.$refs[i + ":" + j][0].className = table_state[i][j];
          }
        }
      },
      go_register() {
        this.show_login = false;
        this.show_register = true;
        this.userName = '';
        this.password = '';
        //render_func();
      },
      register_func() {
        var n = this.userName.search(' ');
        if (n != -1 || this.userName == '') {
          alert('username have space');
          return;
        }
        if (this.password == '') {
          alert('please enter password');
          return;
        }
        socket.emit('register_socket', this.userName, this.password);
        //this.show_register = false;
        //this.show_login = true;
        //this.userName = '';
        //this.password = '';
      },
      pass_login() {
        this.time = Date.now();
        socket.emit('login_socket', this.userName, this.password, this.time);
      },
      login_func(login, userName) {
        if (userName == this.userName) {
          if (login == 'incorrect') {
            alert(login);
          }
          if (login == 'correct') {
            this.show_game = true;
            this.showRank = true;
            this.show_login = false;
            localStorage.setItem('status', 1);
            localStorage.setItem('userName', this.userName);
            localStorage.setItem('password', this.password);
            localStorage.setItem('time', this.time);
          }
        }
      }





    }
    //don't delete
  });
</script>
